body {
  background-color: #FFFFFF;
  font-family: Ubuntu, sans-serif;
  width:100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.exc-footer {
  height: 100vh;
}

.logo {
  width: 400px;
  height: auto;
}

.footer {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #007AB6;
   color: white;
   text-align: left;
   font-weight: bold;
   padding: 20px 40px;
}

.title-text {
  position: relative;
  left: 0;
  bottom: 0;
  height: 50vh;
  padding-left: 100px;
  padding-top: 250px;
}

h1 {
  font-weight: bold;
  font-size: 52px;
  color: #FF6E6E;
}

h2 {
  font-weight: normal;
  font-size: 26px;
  color: black;
}

.ls1 {
  position: absolute;
  height: 600px;
  width: auto;
  left: -200px;
  top: -30px;
}


.ls2 {
  position: absolute;
  height: 400px;
  width: auto;
  left: 200px;
  top: 500px;
}

.ls3 {
  position: absolute;
  height: 600px;
  width: auto;
  left: 700px;
  top: 100px;
}

.s1 {
  position: absolute;
  height: 600px;
  width: auto;
  left: 700px;
  top: -350px;
}

.s2 {
  position: absolute;
  height: 500px;
  width: auto;
  left: 850px;
  top: 550px;
}
