body {
  background-color: #FFFFFF;
  font-family: Ubuntu, sans-serif;
  width:100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.exc-footer {
  height: 100vh;
}

.logo {
  width: 400px;
  height: auto;
}

.footer {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #007AB6;
   color: white;
   text-align: left;
   font-weight: bold;
   padding: 20px 40px;
}

.title-text {
  position: relative;
  left: 0;
  bottom: 0;
  height: 50vh;
  padding-left: 100px;
  padding-top: 250px;
}

h1 {
  font-weight: bold;
  font-size: 52px;
  color: #FF6E6E;
}

h2 {
  font-weight: normal;
  font-size: 26px;
  color: black;
}

.lightrect1 {
  position: absolute;
  width: 400.02px;
  height: 600.45px;
  left: 900px;
  top: 58.33px;

  background: rgba(245, 217, 146, 0.12);
  border-radius: 76px;
  transform: rotate(12deg);
}


.lightrect2 {
  position: absolute;
  width: 594.64px;
  height: 558.35px;
  left: -331px;
  top: 10px;

  background: rgba(245, 217, 146, 0.12);
  border-radius: 76px;
  transform: rotate(-50deg);
}


.rect {
  position: absolute;
  width: 720.33px;
  height: 465.37px;
  left: 800.33px;
  top: -200px;

  background: linear-gradient(240.64deg, #FFBD13 9.9%, rgba(172, 183, 229, 0) 76.03%), #FF6E6E;
  border-radius: 76px;
  transform: rotate(22deg);
}
